<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Chap6-Factors-and-Tables" data-toc-modified-id="Chap6-Factors-and-Tables-1">Chap6 Factors and Tables</a></span><ul class="toc-item"><li><span><a href="#6.1-因素与水平(Factors-and-Levels)" data-toc-modified-id="6.1-因素与水平(Factors-and-Levels)-1.1">6.1 因素与水平(Factors and Levels)</a></span></li><li><span><a href="#6.2-Factor常用的函数(Common-Functions-Used-with-Factors)" data-toc-modified-id="6.2-Factor常用的函数(Common-Functions-Used-with-Factors)-1.2">6.2 <code>Factor</code>常用的函数(Common Functions Used with Factors)</a></span><ul class="toc-item"><li><span><a href="#6.2.1-tapply函数(The-tapply()-Function)" data-toc-modified-id="6.2.1-tapply函数(The-tapply()-Function)-1.2.1">6.2.1 <code>tapply</code>函数(The tapply() Function)</a></span></li><li><span><a href="#6.2.2-split函数(The-Split()-Function)" data-toc-modified-id="6.2.2-split函数(The-Split()-Function)-1.2.2">6.2.2 <code>split</code>函数(The Split() Function)</a></span></li><li><span><a href="#6.2.3-by函数(The-by()-function)" data-toc-modified-id="6.2.3-by函数(The-by()-function)-1.2.3">6.2.3 <code>by</code>函数(The <code>by()</code> function)</a></span></li></ul></li><li><span><a href="#6.3-使用Tables（Working-with-Tables）" data-toc-modified-id="6.3-使用Tables（Working-with-Tables）-1.3">6.3 使用<code>Tables</code>（Working with Tables）</a></span><ul class="toc-item"><li><span><a href="#6.3.1-表中类似矩阵的操作(Matrix/Array-Like-Operations-on-Tables)" data-toc-modified-id="6.3.1-表中类似矩阵的操作(Matrix/Array-Like-Operations-on-Tables)-1.3.1">6.3.1 表中类似矩阵的操作(Matrix/Array-Like Operations on Tables)</a></span></li><li><span><a href="#6.3.2-拓展：提取子表(Extended-Example:-Extracting-a-Subtable)" data-toc-modified-id="6.3.2-拓展：提取子表(Extended-Example:-Extracting-a-Subtable)-1.3.2">6.3.2 拓展：提取子表(Extended Example: Extracting a Subtable)</a></span></li><li><span><a href="#6.3.3-拓展：找到表中数据最大的单元格(Extended-Example:-Finding-the-Largest-Cells-in-a-Table)" data-toc-modified-id="6.3.3-拓展：找到表中数据最大的单元格(Extended-Example:-Finding-the-Largest-Cells-in-a-Table)-1.3.3">6.3.3 拓展：找到表中数据最大的单元格(Extended Example: Finding the Largest Cells in a Table)</a></span></li></ul></li><li><span><a href="#6.4-与Factor和Table相关的函数(Other-Factor-and-Table-Related-functions)" data-toc-modified-id="6.4-与Factor和Table相关的函数(Other-Factor-and-Table-Related-functions)-1.4">6.4 与<code>Factor</code>和<code>Table</code>相关的函数(Other Factor and Table Related functions)</a></span><ul class="toc-item"><li><span><a href="#6.4.1-aggregate()函数(The-aggregate()-function)" data-toc-modified-id="6.4.1-aggregate()函数(The-aggregate()-function)-1.4.1">6.4.1 <code>aggregate()</code>函数(The aggregate() function)</a></span></li><li><span><a href="#6.4.2-cut()函数(The-cut()-function)" data-toc-modified-id="6.4.2-cut()函数(The-cut()-function)-1.4.2">6.4.2 <code>cut()</code>函数(The cut() function)</a></span></li></ul></li></ul></li></ul></div>

## Chap6 Factors and Tables

R中的`factor`来自统计学中名义变量(`nominal variable`)或分类变量
(`categorical variable`)的概念。这些变量一般都是非数值性的数据，
比如性别，民族等（当然，有时候我们可以通过编码将他们转化为数值性数据）。

### 6.1 因素与水平(Factors and Levels)

`factor`可以被看作在`vector`的基础上增加了一些而外的信息，即
下面将要介绍的`levels`。（当然，本质上他们的差别还是比较大的）

In [1]:
x <- c(5, 12, 13, 12)
xf <- factor(x)
xf

[1] 5  12 13 12
Levels: 5 12 13

In [2]:
str(xf)

 Factor w/ 3 levels "5","12","13": 1 2 3 2

这里的关键在与`1 2 3 2`，它表示，`xf`第一个数据为水平1，第二个为水平2，然后是水平3
水平2.也就是说，在`xf`中先根据数据记录了所有的水平，然后数据是按照对应的水平来记录的。

In [3]:
# 这里直接调用函数，输出会被Jupyter改变
# 所以用print得到和书上一样的结果输出
print(unclass(xf))

[1] 1 2 3 2
attr(,"levels")
[1] "5"  "12" "13"

可以看到`factor`额外多出的`levels`属性。

In [4]:
# factor的长度依旧是真实含有数据的个数
# 而不是水平的个数
length(xf)

[1] 4

In [5]:
# 上面的水平(1,2,3)是系统自动编码的
# 我们也可以通过下面的方式手动指定水平的表示
x <- c(5, 12, 13,12)
xff <- factor(x, levels=c(5, 12, 13, 88))
xff

[1] 5  12 13 12
Levels: 5 12 13 88

这里，我们定义的水平(5, 12, 13, 88)中含有88，但是我们的数据中没有88，
这个不要紧，设置的水平可以是我们预测将来可能会有的水平，向下面这样，因为
我们预先设置的水平里面有88，所以给`xff`包含数据赋值成88是可以的。

In [6]:
xff[2] <- 88
xff

[1] 5  88 13 12
Levels: 5 12 13 88

与之对应的，如果我们预先设置的水平中不包含某些数据，那么我们就不能进行
随意的改变原来的数据，看下面的例子。

In [7]:
xff[2] <- 28

Warning message in `[<-.factor`(`*tmp*`, 2, value = 28):
“invalid factor level, NA generated”

In [8]:
xff

[1] 5    <NA> 13   12
Levels: 5 12 13 88

### 6.2 `Factor`常用的函数(Common Functions Used with Factors)

主要是`tapply`, `split`, 和`by`函数。

#### 6.2.1 `tapply`函数(The tapply() Function)

在应用函数之前，我们首先提出一个适用此函数的问题。假设我们有一个向量，里面包含选民的
年龄数据，另外对应年龄的有其他的一些分类数据（分别对应一个`factor`），比如所支持的党派，
如民主党，共和党及无党派。我们想要知道支持各党派人的平均年龄各为多少。

`tapply`函数的典型调用形式为`tapply(x, f, g)`,其中`x`是一个`vector`,
`f`是一个`factor`或者由几个`factor`组成的`list`,最后`g`是一个要应用的函数，在上面的
问题中就是内置的`mean`函数。

记得这里的`f`和`x`必须是等长的，因为`x`内任何一个元素对必须同时对应着一个或多个因素
中的某个水平。我们先来看每个数据对应一个因素中的某个水平的情况。

In [9]:
ages <- c(25, 26, 55, 37, 21, 42)
affils <- c("R", "D", "D", "R", "U", "D")
print(tapply(ages, affils, mean))

 D  R  U
41 31 21

在`f`为`factors`组成的`list`，也就是多个因素的时候，情况会复杂一些，看下面的例子。

In [10]:
d <- data.frame(list(gender=c("M","M","F","M","F","F"),
                     age=c(47,59,21,32,33,24),income=c(55000,88000,32450,76500,123000,45650)))
d

  gender age income
1 M      47   55000
2 M      59   88000
3 F      21   32450
4 M      32   76500
5 F      33  123000
6 F      24   45650

In [11]:
d$over25 <- ifelse(d$age > 25, 1, 0)
d

  gender age income over25
1 M      47   55000 1
2 M      59   88000 1
3 F      21   32450 0
4 M      32   76500 1
5 F      33  123000 1
6 F      24   45650 0

In [12]:
print(tapply(d$income, list(d$gender, d$over25), mean))

      0         1
F 39050 123000.00
M    NA  73166.67

此处指定了两个因素：性别和年龄是否大于25岁。因为每个因素有两个水平，所以总的数据
被分成了四组，每组分别求收入的均值。

#### 6.2.2 `split`函数(The Split() Function)

`tapply`的作用是把一个`vector`按照`factor`分组，之后对每一组的数据分别调用函数并返回各个组的结果。
与之对比，`split`函数只是停留在第一阶段，也就是说，它只是根据`factor`来把`vector`分组。

`split(x, f)`是调用的最基本的形式，`x`和`f`和`tapply`中意义一致，分别是待处理向量和函数。

In [13]:
d

  gender age income over25
1 M      47   55000 1
2 M      59   88000 1
3 F      21   32450 0
4 M      32   76500 1
5 F      33  123000 1
6 F      24   45650 0

In [14]:
split(d$income, list(d$gender, d$over25))

$F.0
[1] 32450 45650

$M.0
numeric(0)

$F.1
[1] 123000

$M.1
[1] 55000 88000 76500

可以看到，`split`根据`gender`和`over25`两个因素对数据进行分组，返回的结果是一个`list`
（记得`list`的成分是用`$`索引的）

In [15]:
# another example
g <- c("M", "F", "F", "I", "M", "M", "F")
split(1:length(g), g)

$F
[1] 2 3 7

$I
[1] 4

$M
[1] 1 5 6

上面的结果表明，第2，3，7条数据为`F`，即对应性别为女性，其他婴儿和男性也分别对应索引的数字。
这个例子给了我们启示，就是说我们可以按照因子的不同水平分组，并给出各个水平数据所在的位置。

对应到之前的文本索引(4.2.4 text concordance)的例子, 我们可以将文档全部当作一个`factor`，
不同的单词当作一个`level`，这样就可以使用`split`函数来简化程序了。

In [16]:
findwords <- function(tf){
    # 从文档读取单词数据，保存到字符向量
    txt <- scan(tf, "")
    words <- split(1:length(txt), txt)
    return(words)
}

findwords("./data//testconcorda.txt")

$and
[1] 25

$be
[1] 67

$but
[1] 32

$case
[1] 17

$consists
[1] 20 41

$example
[1] 50

$first
[1] 6

$`for`
[1] 49

$helps
[1] 35

$here
[1] 2

$`if`
[1] 51

$`in`
[1]  8 15

$is
[1] 13 30

$item
[1]  7 14 27

$items
[1] 44 60

$labeled
[1] 68

$line
[1] 10 24

$lines
[1] 48

$many
[1] 43 47

$means
[1] 3

$notation
[1] 34

$of
[1] 11 21 42 56

$one
[1] 23 26

$only
[1] 22

$our
[1] 18

$output
[1] 12 19 39 57

$over
[1] 46

$per
[1] 61

$read
[1] 37

$redundant
[1] 31

$row
[1] 62 65

$rows
[1] 55

$second
[1] 64

$six
[1] 59

$so
[1] 28

$spread
[1] 45

$that
[1]  4 40

$the
[1]  1  5 63

$there
[1] 52

$this
[1]  9 16 29 33

$to
[1] 36

$two
[1] 54

$voluminous
[1] 38

$were
[1] 53

$with
[1] 58

$would
[1] 66

#### 6.2.3 `by`函数(The `by()` function)

In [17]:
# 如果没有"abalone.data"数据，可以根据如下方式获取
# 参考：https://github.com/ajschumacher/gadsdc1/blob/master/dataset_research/kevin_abalone_dataset.md

# read the dataset into a data frame
# abalone <- read.csv("http://archive.ics.uci.edu/ml/machine-learning-databases/abalone/abalone.data", header=FALSE)

# # add column names
# names(abalone) <- c("sex", "length", "diameter", "height", "weight.whole",
#     "weight.shucked", "weight.viscera", "weight.shell", "rings")

# write.csv(abalone, file="./data/abalone.csv")

In [18]:
aba <- read.csv("./data/abalone.csv", header = T)
head(aba)

  X sex length diameter height weight.whole weight.shucked weight.viscera
1 1 M   0.455  0.365    0.095  0.5140       0.2245         0.1010
2 2 M   0.350  0.265    0.090  0.2255       0.0995         0.0485
3 3 F   0.530  0.420    0.135  0.6770       0.2565         0.1415
4 4 M   0.440  0.365    0.125  0.5160       0.2155         0.1140
5 5 I   0.330  0.255    0.080  0.2050       0.0895         0.0395
6 6 I   0.425  0.300    0.095  0.3515       0.1410         0.0775
  weight.shell rings
1 0.150        15
2 0.070         7
3 0.210         9
4 0.155        10
5 0.055         7
6 0.120         8

In [19]:
by(aba, aba$sex, function(m) lm(m[, 3]~m[, 4]))

aba$sex: F

Call:
lm(formula = m[, 3] ~ m[, 4])

Coefficients:
(Intercept)       m[, 4]
    0.04288      1.17918

------------------------------------------------------------
aba$sex: I

Call:
lm(formula = m[, 3] ~ m[, 4])

Coefficients:
(Intercept)       m[, 4]
    0.02997      1.21833

------------------------------------------------------------
aba$sex: M

Call:
lm(formula = m[, 3] ~ m[, 4])

Coefficients:
(Intercept)       m[, 4]
    0.03653      1.19480

上面的语法可以清楚的看到，`by`的用法和`tapply`的使用十分相似：第一个参数都是待处理的数据，
第二个是是分组用的`factor`，最后是要对每一组使用的函数。

不同的是，`tapply`是根据`factor`找到`vector`的`indices`来分组，而`by`是根据`factor`
找到`matrix(or data frame)`的`row number`来分组，最后都是分别应用函数。

### 6.3 使用`Tables`（Working with Tables）

In [20]:
# 在使用table之前，先来看一个例子
u <- c(22, 8, 33, 6, 8, 29, -2)
fl <- list(c(5,12,13,12,13,5,13),c("a","bc","a","a","bc","a","a"))
tapply(u, fl, length)

   a bc
5  2 NA
12 1  1
13 2  1

可以看到，我们应用`tapply`，先将数据根据两个因素（分别为3个水平，2个水平）
分为6组（3x2=6)，并分别调用`length`函数，返回结果如上。此表在统计学上叫做
`contingency table`, `cross tabulation`, `crosstab`，也就是我们常
说的交叉列联表，属于频数表的一种。

注意到，这里含有一个`NA`值。显然如果没有对应因素的数据，应该显示为0。针对
这种情况我们引入`table`函数，它可以返回正确的列联表。

In [21]:
table(fl)

    fl.2
fl.1 a bc
  5  2  0
  12 1  1
  13 2  1

In [22]:
# 用于data frame的例子
ct <- read.table("./data//ct.dat", header = T)
ct

  Vote.for.X Voted.For.X.Last.Time
1 Yes        Yes
2 Yes        No
3 No         No
4 Not Sure   Yes
5 No         No

In [23]:
cttab <- table(ct)
cttab

          Voted.For.X.Last.Time
Vote.for.X No Yes
  No        2   0
  Not Sure  0   1
  Yes       1   1

如上，表格左上角的2表示上次没有投票给X，这次也没有投票给X的有两人
（频数为2）

In [24]:
# 也可用于一维数据计数
table(c(5, 12, 13, 12, 8, 5))

 5  8 12 13
 2  1  2  1

In [25]:
# 三维数据
v <- read.table("./data//voter.txt", header = T)
v

  gender race pol
1 M      W    L
2 M      W    L
3 F      A    C
4 M      O    L
5 F      B    L
6 F      B    C

In [26]:
vt <- table(v)
vt

, , pol = C

      race
gender A B O W
     F 1 1 0 0
     M 0 0 0 0

, , pol = L

      race
gender A B O W
     F 0 1 0 0
     M 0 0 1 2

#### 6.3.1 表中类似矩阵的操作(Matrix/Array-Like Operations on Tables)

就像之前介绍的矩阵或数组类似的操作可以用于`data frames`一样，
他们同样可以运用到`table`，这是容易想到的，因为之前的`table()`
函数返回的结果就是一个数组。    

下面看一个例子，比如我们可以使用和矩阵一样的方法来索引交叉表中
计数的值为多少。

In [27]:
cttab

          Voted.For.X.Last.Time
Vote.for.X No Yes
  No        2   0
  Not Sure  0   1
  Yes       1   1

In [28]:
class(cttab)

[1] "table"

In [29]:
cttab[1, 1]

[1] 2

In [30]:
cttab[1, ]

 No Yes
  2   0

以上可以看到，尽管`cttab`是一个`table`, 但是我们可以把它看作矩阵
一样，通过`[1, 1]`获取第一行第一列的数据，通过`[1, ]`获取第一行的
数据。

此外，我们可以对`table`整体进行数乘运算，同样是和矩阵类似的。如下，
我们把计数数据转化为比例数据。

In [31]:
cttab/5

          Voted.For.X.Last.Time
Vote.for.X  No Yes
  No       0.4 0.0
  Not Sure 0.0 0.2
  Yes      0.2 0.2

在统计学上，变量边际值(`marginal values`)是在保持本变量
不懂的情况下，将此时其他变量的值加总得到。看下面的例子, 我们
通过对行求和来得到变量`Vote.for.X`的边际值。

In [32]:
apply(cttab, 1 ,sum)

      No Not Sure      Yes
       2        1        2

上面的做法是可行的，不过R本身已经考虑到求边际值的问题，所以为我们
提供了`addmargins()`函数，它自动添加有关变量的边际值到表中。

In [33]:
addmargins(cttab)

          Voted.For.X.Last.Time
Vote.for.X No Yes Sum
  No       2  0   2
  Not Sure 0  1   1
  Yes      1  1   2
  Sum      3  2   5

我们也可以获取表中维度的名称和各维度的水平。

In [34]:
dimnames(cttab)

$Vote.for.X
[1] "No"       "Not Sure" "Yes"

$Voted.For.X.Last.Time
[1] "No"  "Yes"

#### 6.3.2 拓展：提取子表(Extended Example: Extracting a Subtable)

In [35]:
cttab

          Voted.For.X.Last.Time
Vote.for.X No Yes
  No        2   0
  Not Sure  0   1
  Yes       1   1

上面的全部的交叉表，那么，如果我们只想取其中一部分来用呢，比如
只取`No`和`Yes`的情况。

我们可以写一个的`subtable()`函数，来供我们提取表的一部分。
它有两个参数，`tbl`为待提取的较大的表，`subnames`是一个`list`用来指定
想要提取的部分。其中`list`的每个`component`都是对应于前面`tbl`的`dimname`,
并通过指定对应的`levels`来具体指定索引的内容。

In [36]:
subtable <- function(tbl, subnames){
    # get array of celll counts in tbl
    tblarray <- unclass(tbl)
    # we'll get the subarray of cell counts corresponding 
    # to subnames by calling do.call() on the "[" function;
    # we need to build a list of arguments first
    dcargs <- list(tblarray)
    ndims <- length(subnames)  # number of dimensions
    for (i in 1:ndims){
        dcargs[[i+1]] <- subnames[[i]]
    }
    subarray <- do.call("[", dcargs)  # 注意，前面提到过，“[”是函数
    dims <- lapply(subnames, length)
    subtbl <- array(subarray, dims, dimnames=subnames)
    class(subtbl) <- "table"
    return(subtbl)
}

这个自定义的函数有些可能不太熟悉的用法，比如`do.call`等，这些在书中作者进行了
详细的分解，这里不再重复。

In [37]:
list(Vote.for.X=c("No", "Yes"), Voted.for.X.Last.Time=c("No", "Yes"))

$Vote.for.X
[1] "No"  "Yes"

$Voted.for.X.Last.Time
[1] "No"  "Yes"

In [38]:
subtable(cttab, list(Vote.for.X=c("No", "Yes"), Voted.for.X.Last.Time=c("No", "Yes")))

          Voted.for.X.Last.Time
Vote.for.X No Yes
       No   2   0
       Yes  1   1

上面的方法具有较强的适用性，不过在原始表维度比较少的时候，我们也可以使用之前类似矩阵
索引的方法来实现，如下所示。

In [39]:
cttab[1:2, 1:2]

          Voted.For.X.Last.Time
Vote.for.X No Yes
  No        2   0
  Not Sure  0   1

In [40]:
class(cttab[1:2, 1:2])

[1] "table"

#### 6.3.3 拓展：找到表中数据最大的单元格(Extended Example: Finding the Largest Cells in a Table)

如果我们想要找到频率最大的元素所对应的位置，在数据
维度包含的水平较少时，我们可以直接观察得到，但是在
`table`比较大的时候就不能直接取寻找了。我们定义以下
`tabdom(tbl, k)`函数来寻找`tbl`中频率排前`k`的元素。

In [41]:
# finds the cells in table tbl with the k highest
# frequencies; handling of ties is unrefind
tabdom <- function(tbl, k){
    # create a data frame representation of tbl,
    # adding a Freq column
    tbldf <- as.data.frame(tbl)
    # determine the proper positions of the frequencies
    # in a sorted order
    freqord <- order(tbldf$Freq, decreasing = TRUE)
    # rearrange the data frame in that order, and 
    # take the first k rows
    dom <- tbldf[freqord, ][1:k,]
    return(dom)
}

In [42]:
# 将table转化为data.frame的方法
# 上述函数需要的是一个data.frame,且带有Freq列
as.data.frame(cttab)

  Vote.for.X Voted.For.X.Last.Time Freq
1 No         No                    2
2 Not Sure   No                    0
3 Yes        No                    1
4 No         Yes                   0
5 Not Sure   Yes                   1
6 Yes        Yes                   1

In [43]:
# 投票数据中频率最高的两种情况
tabdom(as.data.frame(cttab), 2)

  Vote.for.X Voted.For.X.Last.Time Freq
1 No         No                    2
3 Yes        No                    1

### 6.4 与`Factor`和`Table`相关的函数(Other Factor and Table Related functions)

主要学习`cut()`和`aggregate()`两个函数。

另外，`reshape`和`plyr`是是两个非常好用的包，使用他们可以很方便地操作数据。

#### 6.4.1 `aggregate()`函数(The aggregate() function)

`aggregate()`函数对组内的每一个变量调用一次`tapply()`. 比如我们想要获取
abalone数据中每个变量的中位数，并按照性别分组，如下：

In [44]:
head(aba, 4)

  X sex length diameter height weight.whole weight.shucked weight.viscera
1 1 M   0.455  0.365    0.095  0.5140       0.2245         0.1010
2 2 M   0.350  0.265    0.090  0.2255       0.0995         0.0485
3 3 F   0.530  0.420    0.135  0.6770       0.2565         0.1415
4 4 M   0.440  0.365    0.125  0.5160       0.2155         0.1140
  weight.shell rings
1 0.150        15
2 0.070         7
3 0.210         9
4 0.155        10

In [45]:
# 数据和书上的有些不同，稍微修改下，多减去了一列
aggregate(aba[,c(-1,-2)], list(aba$sex), median)

  Group.1 length diameter height weight.whole weight.shucked weight.viscera
1 F       0.590  0.465    0.160  1.03850      0.44050        0.2240
2 I       0.435  0.335    0.110  0.38400      0.16975        0.0805
3 M       0.580  0.455    0.155  0.97575      0.42175        0.2100
  weight.shell rings
1 0.295        10
2 0.113         8
3 0.276        10

#### 6.4.2 `cut()`函数(The cut() function)

一个比较普遍的生成`factor`的方法（尤其对与`table`而言）就是使用`cut()`函数。
调用形式如下`y <- cut(x,b,labels=FALSE)`，其中`x`是一个`vector`(包含数据)，
`b`是一系列的小区间(`bins`), `cut()`函数返回`x`中每个数据所在的区间。

In [46]:
# 随机生成8个服从[0，1]均匀分布的数字
z <- runif(8)
z

[1] 0.7447578 0.3449508 0.7394107 0.6718984 0.8649281 0.5961721 0.7417887
[8] 0.7519795

In [47]:
binmarks <- seq(from=0.0, to=1.0, by=0.1)
binmarks

 [1] 0.0 0.1 0.2 0.3 0.4 0.5 0.6 0.7 0.8 0.9 1.0

In [48]:
cut(z, binmarks, labels = F)

[1] 8 4 8 7 9 6 8 8

上面第一个数字`9`的意思是`z`中的第一个数字`0.801`落在了第9个
区间，也就是`(0.8, 0.9]`，其他也是类似。现在看到返回的结果是
一个`vector`，不过我们完全可以把它转化为`factor`，并用于构
建`table`。