<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Chap5" data-toc-modified-id="Chap5-1">Chap5</a></span><ul class="toc-item"><li><span><a href="#5.1-创建(Creating-Data-Frames)" data-toc-modified-id="5.1-创建(Creating-Data-Frames)-1.1">5.1 创建(Creating Data Frames)</a></span><ul class="toc-item"><li><span><a href="#5.1.1-获取数据(Accessing-Data-Frames)" data-toc-modified-id="5.1.1-获取数据(Accessing-Data-Frames)-1.1.1">5.1.1 获取数据(Accessing Data Frames)</a></span></li><li><span><a href="#5.1.2-拓展：考试成绩回归分析(Extended-Example:-Regression-Analysis-of-Exam-Grades-Continued)" data-toc-modified-id="5.1.2-拓展：考试成绩回归分析(Extended-Example:-Regression-Analysis-of-Exam-Grades-Continued)-1.1.2">5.1.2 拓展：考试成绩回归分析(Extended Example: Regression Analysis of Exam Grades Continued)</a></span></li></ul></li><li><span><a href="#5.2-其他Matrix-Like操作(Other-Matrix-Like-Operations)" data-toc-modified-id="5.2-其他Matrix-Like操作(Other-Matrix-Like-Operations)-1.2">5.2 其他<code>Matrix-Like</code>操作(Other Matrix-Like Operations)</a></span><ul class="toc-item"><li><span><a href="#5.21.-提取部分数据(Extracting-Subdata-Frames)" data-toc-modified-id="5.21.-提取部分数据(Extracting-Subdata-Frames)-1.2.1">5.21. 提取部分数据(Extracting Subdata Frames)</a></span></li><li><span><a href="#5.2.2-NA值(More-on-Treatment-of-NA-Values)" data-toc-modified-id="5.2.2-NA值(More-on-Treatment-of-NA-Values)-1.2.2">5.2.2 NA值(More on Treatment of NA Values)</a></span></li><li><span><a href="#5.2.3-rbind&amp;cbind函数(Using-the-rbind()-and-cbind()-Functions-and-Alternatives)" data-toc-modified-id="5.2.3-rbind&amp;cbind函数(Using-the-rbind()-and-cbind()-Functions-and-Alternatives)-1.2.3">5.2.3 <code>rbind</code>&amp;<code>cbind</code>函数(Using the rbind() and cbind() Functions and Alternatives)</a></span></li><li><span><a href="#5.2.4-apply()函数(Applying-apply())" data-toc-modified-id="5.2.4-apply()函数(Applying-apply())-1.2.4">5.2.4 <code>apply()</code>函数(Applying apply())</a></span></li><li><span><a href="#5.2.5-拓展：工资研究(Extended-Example:-A-Salary-Study)" data-toc-modified-id="5.2.5-拓展：工资研究(Extended-Example:-A-Salary-Study)-1.2.5">5.2.5 拓展：工资研究(Extended Example: A Salary Study)</a></span></li></ul></li><li><span><a href="#5.3-合并(Merging-Data-Frames)" data-toc-modified-id="5.3-合并(Merging-Data-Frames)-1.3">5.3 合并(Merging Data Frames)</a></span><ul class="toc-item"><li><span><a href="#5.3.1-拓展：员工数据库(Extended-Example:-An-Employee-Database)" data-toc-modified-id="5.3.1-拓展：员工数据库(Extended-Example:-An-Employee-Database)-1.3.1">5.3.1 拓展：员工数据库(Extended Example: An Employee Database)</a></span></li></ul></li></ul></li></ul></div>

## Chap5

直观上看，`data frames`就像`matrix`一样，有行和列的
二维数据结构。不过，有一点是他们之间显著的不同，那就是在
`data frames`中，每一列可以是不同的`mode`, 而`matrix`
的所有数据都必须是同一`mode`的。

从技术层面讲，一个`data frame`就是一个`list`,只不过是
特殊的列表，即列表每个成分都必须是等长的向量。

### 5.1 创建(Creating Data Frames)

In [1]:
kids <- c("Jack", "Jill")
ages <- c(12, 10)
d <- data.frame(kids, ages, stringsAsFactors = FALSE)
d

  kids ages
1 Jack 12
2 Jill 10

`data.frame`就是将`kids`, `ages`两个变量转化为`data frame`格式
最后的`stringsAsFactors`默认是`TRUE`（默认的设置可以通过`options()`
去改）,也就是会把字符串的数据转化为`Factor`（下一章会介绍），这里我们用不到
`Factor`，故先设置为`FALSE`.

#### 5.1.1 获取数据(Accessing Data Frames)

In [2]:
# 通过索引获取
d[[1]]

[1] "Jack" "Jill"

In [3]:
# 通过名字获取
d$kids

[1] "Jack" "Jill"

In [4]:
# 也可以用类似matrix的方法
# 获取第一列
d[, 1]

[1] "Jack" "Jill"

In [5]:
# 结构化输出
str(d)

'data.frame':	2 obs. of  2 variables:
 $ kids: chr  "Jack" "Jill"
 $ ages: num  12 10

以上告诉我们，`d`包含2个观测数据（2行），2个变量（2列）

一般来讲使用d$kids就可以，更加直观，也不易出错。另外有些时候我们要写
`general code`时，比如写R包的时候，考虑到我们一般不能通过名字获取某列，
所以就要使用按照位置索引的办法了。

#### 5.1.2 拓展：考试成绩回归分析(Extended Example: Regression Analysis of Exam Grades Continued)

In [6]:
examsquiz <- read.table("./data//ExamsQuiz.txt", header = T)
head(examsquiz)

  Exam.1 Exam.2 Quiz
1 2.0    3.3    4.0
2 3.3    2.0    3.7
3 4.0    4.0    4.0
4 2.3    0.0    3.3
5 2.3    1.0    3.3
6 3.3    3.7    4.0

In [7]:
is.data.frame(examsquiz)

[1] TRUE

### 5.2 其他`Matrix-Like`操作(Other Matrix-Like Operations)

很多针对`matrix`的操作在`data frame`同样适应。

#### 5.21. 提取部分数据(Extracting Subdata Frames)

In [8]:
# 通过行列索引提取部分数据
examsquiz[2:5, ]

  Exam.1 Exam.2 Quiz
2 3.3    2      3.7
3 4.0    4      4.0
4 2.3    0      3.3
5 2.3    1      3.3

In [9]:
examsquiz[2:5, 2]

[1] 2 4 0 1

In [10]:
class(examsquiz[2:5, 2])

[1] "numeric"

In [11]:
examsquiz[2:5, 2, drop=FALSE]

  Exam.2
2 2
3 4
4 0
5 1

In [12]:
class(examsquiz[2:5, 2, drop=FALSE])

[1] "data.frame"

注意，`examsquiz[2:5, 2]`是一个`vector`，在添加`drop=FALSE`后，
也就是`examsquiz[2:5, 2, drop=FALSE]`时，保证了返回后是一个
`data.frame`

In [13]:
# 抽取符合条件的数据集
# [注意，书上的数据集找不到，这里也是用的部分数据]
examsquiz[examsquiz$Exam.1 >= 3.8, ]

  Exam.1 Exam.2 Quiz
3 4      4      4

#### 5.2.2 NA值(More on Treatment of NA Values)

In [14]:
x <- c(2, NA, 4)
mean(x)

[1] NA

In [15]:
# 有时候，我们必须指明对NA值的操作
# 如下，是在 运算之前去掉NA值
mean(x, na.rm = TRUE)

[1] 3

记得之前在2.8.2的时候，我们介绍过`subset`函数，使用它可以
可以自动为我们执行`na.rm=TRUE`，这里也是一样的。我们可以
假设我们的成绩数据有缺失值，过滤时可以使用下面的方法。

In [16]:
subset(examsquiz, Exam.1 >= 3.8)

  Exam.1 Exam.2 Quiz
3 4      4      4

另外，如果我们希望去除数据集中那些含有缺失值（>=1个缺失值）
的观测（行），也许可以尝试`complete.cases()`函数。

In [17]:
d4 <- data.frame(kids=c("Jack", NA, "Jillian", "John"),
                states=c("CA", "MA", "MA", NA))
d4

  kids    states
1 Jack    CA
2 NA      MA
3 Jillian MA
4 John    NA

In [18]:
complete.cases(d4)

[1]  TRUE FALSE  TRUE FALSE

In [19]:
# 同样是通过布尔值向量去索引目标行
d5 <- d4[complete.cases(d4), ]
d5

  kids    states
1 Jack    CA
3 Jillian MA

In [20]:
is.data.frame(d5)

[1] TRUE

#### 5.2.3 `rbind`&`cbind`函数(Using the rbind() and cbind() Functions and Alternatives)

`matrix`中使用的`rbind()`和`cbind()`在这里也是一样可以用的。

In [21]:
d <- data.frame(kids=c("Jack", "Jill"),
                ages=c(12, 10), stringsAsFactors = FALSE)
d

  kids ages
1 Jack 12
2 Jill 10

In [22]:
# 添加新的行
rbind(d, list("Laura", 19))

  kids  ages
1 Jack  12
2 Jill  10
3 Laura 19

In [23]:
# 添加新的列
eq <- cbind(examsquiz, examsquiz$Exam.2 - examsquiz$Exam.1)
class(eq)

[1] "data.frame"

In [24]:
head(eq)

  Exam.1 Exam.2 Quiz examsquiz$Exam.2 - examsquiz$Exam.1
1 2.0    3.3    4.0   1.3
2 3.3    2.0    3.7  -1.3
3 4.0    4.0    4.0   0.0
4 2.3    0.0    3.3  -2.3
5 2.3    1.0    3.3  -1.3
6 3.3    3.7    4.0   0.4

In [25]:
# 上面新列的名字有些不好看，我们可以使用names改变
names(eq) <- c(names(examsquiz), "ExamDiff")
eq

  Exam.1 Exam.2 Quiz ExamDiff
1 2.0    3.3    4.0   1.3
2 3.3    2.0    3.7  -1.3
3 4.0    4.0    4.0   0.0
4 2.3    0.0    3.3  -2.3
5 2.3    1.0    3.3  -1.3
6 3.3    3.7    4.0   0.4

In [26]:
# 也可以使用下面的方法，更加简洁
examsquiz$ExamDiff <- examsquiz$Exam.2 - examsquiz$Exam.1
head(examsquiz, 3)

  Exam.1 Exam.2 Quiz ExamDiff
1 2.0    3.3    4.0   1.3
2 3.3    2.0    3.7  -1.3
3 4.0    4.0    4.0   0.0

In [27]:
# 上面这种直接添加新列的方法是很普遍的，也是很方便的
d

  kids ages
1 Jack 12
2 Jill 10

In [28]:
d$one <- 1
d

  kids ages one
1 Jack 12   1
2 Jill 10   1

#### 5.2.4 `apply()`函数(Applying apply())

In [29]:
# 在data frame所有列是相同数据类型的时候我们可以使用apply函数
# 如下找到每个学生最好的成绩
apply(examsquiz, 1, max)

[1] 4.0 3.7 4.0 3.3 3.3 4.0

#### 5.2.5 拓展：工资研究(Extended Example: A Salary Study)

In [30]:
all2006 <- read.csv("./data//2006.csv",
                   header=TRUE, as.is=TRUE)
head(all2006, 3)

  Case_No       Processing_Center         Final_Case_Status Received_Date
1 A-05243-28497 Atlanta Processing Center Denied            10/1/2005 0:00:00
2 A-05275-38245 Atlanta Processing Center Denied            10/2/2005 0:00:00
3 A-05263-34450 Atlanta Processing Center Denied            10/2/2005 0:00:00
  Certified_Date Denied_Date        Employer_Name
1 NA             10/1/2005 10:00:32 QAMAR UL ZAMAN, MD
2 NA             10/2/2005 2:48:59  HYGIA INDUSTRIES, INC.
3 NA             10/2/2005 3:49:09  TRI-SEASON LANDSCAPE & BOULDER COUNTRUCTION
  Employer_Address_1   Employer_Address_2 Employer_City ⋯ Wage_Offered_From
1 1035 RICHWOOD AVENUE                    CUMBERLAND    ⋯ 178000.00
2 BOX 25                                  TALLMAN       ⋯     29.52
3 2260 SUNRISE COURT                      SCOTCH PLAINS ⋯     13.35
  Wage_Offered_To Wage_Per Prevailing_Wage_Job_Title
1 NA              Year     Physician
2 NA              Year     COMPUTER PROGRAMMER
3 NA              Hour     LANDSCAPING & GROUNDSKEEPING WORKERS
  Prevailing_Wage_Amount Prevailing_Wage_Level Prevailing_Wage_SOC_CODE
1 163800.00              Level III             29-1062.00
2     29.52              Level II              15-1021.00
3     13.35              Level IV              37-3011.00
  Prevailing_Wage_SOC_Title              Prevailing_Wage_Source
1 Family and General Practitioners       OES
2 Computer Programmers                   OES
3 Landscaping and Groundskeeping Workers OES
  Prevailing_Wage_Other_Source
1
2
3

In [31]:
#  # exclude hourly-wagers
all2006 <- all2006[all2006$Wage_Per == "Year", ]
# exclude weird cases
all2006 <- all2006[all2006$Wage_Offered_From > 20000,] 
# exclude hrly prv wg
all2006 <- all2006[all2006$Prevailing_Wage_Amount > 200,]

In [32]:
# 实际工资与一般工资水平之比
all2006$rat <- all2006$Wage_Offered_From / all2006$Prevailing_Wage_Amount

In [33]:
# 计算rat列均值的函数
medrat <- function(dataframe){
    return(median(dataframe$rat, na.rm = TRUE))
}

In [34]:
# 挑选其中三个职业[不同职业]
se2006 <- all2006[grep("Software Engineer",all2006),]
prg2006 <- all2006[grep("Programmer",all2006),]
ee2006 <- all2006[grep("Electronics Engineer",all2006),]

这里使用`grep`函数，去挑选出含有特定职业名的行。关于此函数，后面第11章还会讲到。

In [35]:
# 获取某一公司的数据[不同公司]
makecorp <- function(corpname){
    t <- all2006[all2006$Employer_Name == corpname, ]
    return(t)
}

In [36]:
# 数据集包含的公司
#unique(all2006$Employer_Name)

# 挑选部分
corplist <- c("CASTLE MANAGEMENT CORPORATION","cmc","NIPPON EXPRESS USA","ne",
              "THE STONE QUARRY, INC","sq","YOMIWURI, INC.","yi")

for (i in 1:(length(corplist)/2)) {
    corp <- corplist[2*i-1]
    newdtf <- paste(corplist[2*i],"2006",sep="")
    print(newdtf)
    assign(newdtf,makecorp(corp),pos=.GlobalEnv)
}

[1] "cmc2006"
[1] "ne2006"
[1] "sq2006"
[1] "yi2006"

In [37]:
# 所有的全局变量
objects()
# 新生成的对象
objects()[grep("2006", objects())]

 [1] "a"          "aba"        "abaf"       "abalone"    "abam"
 [6] "ages"       "all2006"    "cmc2006"    "color"      "corp"
[11] "corplist"   "d"          "d4"         "d5"         "ee2006"
[16] "eq"         "examsquiz"  "f"          "facetcol"   "findols"
[21] "g"          "gen"        "grps"       "hn"         "i"
[26] "jet.colors" "kids"       "lma"        "m"          "makecorp"
[31] "makecov"    "medrat"     "n"          "nbcol"      "ncz"
[36] "ne2006"     "newdtf"     "nrz"        "op"         "pchvec"
[41] "phi"        "prg2006"    "r"          "r1"         "res"
[46] "se2006"     "sq2006"     "u"          "w"          "x"
[51] "xE"         "xr"         "xy"         "y"          "yi2006"
[56] "yr"         "z"          "zfacet"

[1] "all2006" "cmc2006" "ee2006"  "ne2006"  "prg2006" "se2006"  "sq2006"
[8] "yi2006"

In [38]:
ne2006

  Case_No       Processing_Center         Final_Case_Status Received_Date
4 A-05273-38122 Atlanta Processing Center Denied            10/2/2005 0:00:00
  Certified_Date Denied_Date       Employer_Name      Employer_Address_1
4 NA             10/2/2005 9:50:15 NIPPON EXPRESS USA 590 MADISON AVE.
  Employer_Address_2 Employer_City ⋯ Wage_Offered_To Wage_Per
4 SUITE 2401         NEW YORK      ⋯ NA              Year
  Prevailing_Wage_Job_Title    Prevailing_Wage_Amount Prevailing_Wage_Level
4 Senior Logistics Coordinator 61818                  Level II
  Prevailing_Wage_SOC_CODE Prevailing_Wage_SOC_Title Prevailing_Wage_Source
4 11-3071.01               Transportation Managers   OES
  Prevailing_Wage_Other_Source rat
4                              1.002944

### 5.3 合并(Merging Data Frames)
关系性数据库使用`join`较多，就是根据者某个共同变量的值将两个数据表合并起来。这在
R中通过`merge`函数就可以实现。

In [57]:
d1 <- data.frame(kids=c("Jack", "Jill", "Jillian", "Jhon"),
                states=c("CA", "MA", "MA", "HI"),
                stringsAsFactors=FALSE)
d1

d2 <- data.frame(ages=c(10, 7, 12), 
                 kids=c("Jill", "Lillian", "Jack"),
                 stringsAsFactors=FALSE)
d2

  kids    states
1 Jack    CA
2 Jill    MA
3 Jillian MA
4 Jhon    HI

  ages kids
1 10   Jill
2  7   Lillian
3 12   Jack

In [58]:
d <- merge(d1, d2)
d

  kids states ages
1 Jack CA     12
2 Jill MA     10

这里，R将两个表中含有相同`kids`值的行提取出来，并将各自含有的其他变量
（states, ages）合并到新的`data frame`中。

In [59]:
d3 <- data.frame(ages=c(12, 10, 7), 
                 pals=c("Jack", "Jill", "Lillian"),
                 stringsAsFactors=FALSE)
d3

  ages pals
1 12   Jack
2 10   Jill
3  7   Lillian

In [60]:
# 共同变量名字不一致时，可以通过by.x, by.y指定
merge(d1, d3, by.x = "kids", by.y = "pals")

  kids states ages
1 Jack CA     12
2 Jill MA     10

In [61]:
# 重复值的情况
d1

  kids    states
1 Jack    CA
2 Jill    MA
3 Jillian MA
4 Jhon    HI

In [62]:
d2a <- rbind(d2, list(15, "Jill"))
d2a

  ages kids
1 10   Jill
2  7   Lillian
3 12   Jack
4 15   Jill

In [63]:
merge(d1, d2a)

  kids states ages
1 Jack CA     12
2 Jill MA     10
3 Jill MA     15

以上看到，其中一个数据集有重复的时候，合并后扔保留，造成数据混乱。
者要求我们慎重选择匹配的共同变量，尽量避免这种情况发生。

#### 5.3.1 拓展：员工数据库(Extended Example: An Employee Database)